name: calculator
description: A Simple but elegant Calculator app made with Flutter with Currency (Exchange Rate) & Unit Converter.
publish_to: "none" # to prevent accidental publication of package to pub.dev

version: 0.2.3+5

environment:
  sdk: ">=3.0.2 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  font_awesome_flutter: ^10.4.0
  math_expressions: ^2.4.0
  intl: ^0.18.1
  http: ^1.0.0
  flutter_riverpod: ^2.3.6
  shared_preferences: ^2.1.2
  flutter_dotenv: ^5.1.0
  url_launcher: ^6.1.11
  rflutter_alert: ^2.0.7
  package_info_plus: ^4.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
