name: calculator
description: A Simple but elegant Calculator app made with Flutter with Currency (Exchange Rate) & Unit Converter.
publish_to: "none" # to prevent accidental publication of package to pub.dev

version: 0.2.5+7

environment:
  sdk: ">=3.9.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  font_awesome_flutter: ^10.10.0
  math_expressions: ^3.1.0
  intl: ^0.20.2
  http: ^1.5.0
  flutter_riverpod: ^2.6.1
  shared_preferences: ^2.5.3
  flutter_dotenv: ^5.2.1
  url_launcher: ^6.3.2
  rflutter_alert: ^2.0.7
  package_info_plus: ^8.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
